.record-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--panel-color);
  color: var(--text-color);
  border: none;
  width: 240px;
  padding: 1rem 1.5rem;
  border-radius: 32px;
}

.record-visuals {
  display: flex;
  align-items: start;
  gap: 8px;
}
