main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  max-width: calc(100% - 80px);
  margin: 0 auto;
  padding: 20px 0;
  gap: 32px;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 4px;
  gap: 8px;
  margin-bottom: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: var(--panel-color);
  padding: 1.5em 1.5em;
  border-radius: 16px;
  gap: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-left: 16px;
}
