main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  max-width: calc(100% - 80px);
  margin: 0 auto;
  padding: 20px 0;
  gap: 32px;
}

section {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 16px;
  margin-bottom: 12rem;
  transition: opacity 0.3s ease-in-out, transform 1s ease-in;
}

.hidden {
  opacity: 0;
  transform: translate(-50%, 100%);
  pointer-events: none;
}

.fade-in {
  transition: opacity 0.3s 0.3s ease-in-out;
}
