:root {
  --background-color: black;
  --text-color: white;
  --primary-color: #ffcc90;
  --secondary-color: #9cacff;
  --secondary-highlight: #5a68e1;
  --disabled: #212121;
  --panel-color: #2e3131;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.4rem;
  letter-spacing: 0.2pt;
  font-weight: 700;
}

span {
  color: var(--primary-color);
}

span.secondary {
  color: var(--secondary-color);
}

label {
  color: var(--secondary-color);
  transition: color 0.1s;
}

label:hover {
  color: var(--secondary-highlight);
  text-decoration: underline;
}

button {
  display: flex;
  align-items: center;
  gap: 16px;
  background: none;
  border: none;
  color: var(--text-color);
  opacity: 0.7;
  transition: all 0.1s;
}

button:hover {
  opacity: 1;
}

button.secondary {
  background-color: var(--text-color);
  color: var(--panel-color);
  padding: 4px 12px;
  border-radius: 8px;
  opacity: 1;
}

button.secondary:hover {
  background-color: var(--secondary-color);
}

section {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 16px;
  margin-bottom: 12rem;
  transition: opacity 0.3s ease-in-out, transform 1s ease-in;
}

.hidden {
  opacity: 0;
  transform: translate(-50%, 100%);
  pointer-events: none;
}

.fade-in {
  transition: opacity 0.3s 0.3s ease-in-out;
}
